// Core Colours
$white: #FFFFFF;
$black: #000000;
$bg: #F3F4F5;
$lead: #979797;
$space: #686868;
$royal: #3FAFEF;
$rose: #D1465E;
$apple: #90C630;
$winter: #97B3C1;
$ocean: #6C94A3;
$snow: #F5F8F9;
$charcoal: #3B3B3B;

// Header Colours
$headerBgColor: #3F484F;

// Page Colours
$contentBg: $white;
$contentHeaderBg: #EDEDED;
$boxShadow: #cbd9df;


$tertiary: $royal;
$danger: $rose;
$success: $apple;
