footer {
    .footer-message {
        h3 {
            padding: 20px 20px 40px 20px;
            text-align: center;
            font-weight: normal;
            font-size: 13px;
            color: $space;
        }
    }
}
